body {
    background-color: rgb(213, 225, 239);
}

h1 {
    text-align: left;
    margin: 10px;
}

img {
    border-radius: 15px;
    width: 280px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

div {
    margin: 20px 30px 10px 30px;
    background-color: white;
    width: 300px;
    height: 450px;
    padding: 10px;
    border-radius: 15px;

}

h2 {
    color: rgb(34, 49, 74);
    text-align: center;
}

p {
    color: grey;
    text-align: center;
}

